.main {
    position: relative;
    height: 100%;
    padding: 1em;
    overflow: auto;
    text-align: center;
}

.imageBlock {
    /*width: 100%;*/
    /*    padding-right: 1em;*/
    /*    padding-left: 1em;*/
    margin-top: 25px;
    /*flex: 1;*/
    /*overflow: auto;*/
    /*height: 100vh;*/
}

.image {
    width: 100%;
    /*height: 1em;*/
}

.buttonContainer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 80px;
    padding: 1em;
    background-color: #000000;
}

.unActive {
    color: #242424;
    background-color: white;
}

/*button:hover {*/
/*    border-color: #646cff;*/
/*}*/

/*button:focus,*/
/*button:focus-visible {*/
/*    outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

