.main {
    position: relative;
    height: 100%;
    padding: 1em 1em 160px 1em;
    overflow: auto;
    text-align: center;
}

.imageBlock {
    /*width: 100%;*/
    /*    padding-right: 1em;*/
    /*    padding-left: 1em;*/
    margin-top: 25px;
    /*flex: 1;*/
    /*overflow: auto;*/
    /*height: 100vh;*/
}

.image {
    width: 100%;
    border-radius: 12px;
}

.buttonContainer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 80px;
    padding: 1em;
    background-color: transparent;
}

.unActive {
    color: #242424;
    background-color: white;
}

/*button:hover {*/
/*    border-color: #646cff;*/
/*}*/

/*button:focus,*/
/*button:focus-visible {*/
/*    outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

.rainContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #000; /* Фон для контраста */
}

.toggleButton {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.raindrop {
    position: absolute;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.7); /* Цвет капли дождя */
}
