.main {
    position: relative;
    height: 100%;
    padding: 1em;
    /*overflow: auto;*/
    text-align: center;
    background: #000000 radial-gradient(117.18% 81.58% at -8.46% 3.02%, #47A4FF 0%, #4394E4 11.18%, #1E1E1E 98.82%);
}

.title {
    font-size: 34px;
    font-weight: 600;
    text-align: center;
    padding: 0.5em 1em 0.5em 1em;
}

.subTitle {
    font-size: 19px;
    font-weight: 500;
    text-align: start;
}

.description {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1.5em;
}

.item {
    display: flex;
    align-items: center;
    position: relative;
    text-align: start;
}

.item::before {
    position: absolute;
    content: '';
    /*display: inline-block;*/
    width: 10px;
    height: 10px;
    /*top:-4px;*/
    /*line-height: 10px;*/
    background-color: #FFFFFF;
    border-radius: 50%;
    /*text-align: start;*/
    margin: 0;
}


.item:first-child::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 7em;
    top: 50%;
    left: 4px;
    background-color: #FFFFFF;
}


.item:last-child::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 7em;
    bottom: 50%;
    left: 4px;
    background-color: #FFFFFF;
}

.listFriends {
    height: 500px;
    display: flex;
    /*justify-content: start;*/
    /*align-items: start;*/
    flex-direction: column;
    text-align: start;
    padding-top: 20px;
    overflow: auto;
    gap: 20px;

    ms-overflow-style: none;
    scrollbar-width: none;
}

.listFriends::-webkit-scrollbar {
    display: none;
}

.itemFriends {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inviteButtonContainer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 80px;
    padding: 1em;
    background-color: transparent;
}

.inviteButton {
    font-weight: 600;
    font-family: inherit;
    letter-spacing: inherit;
    color: #000000;
    cursor: pointer;
    background-color: #FFFFFF;
}

.shareButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 21px;
    margin-top: 25px;
    background-color: #282828;
    border-radius: 12px;
    text-decoration: none;
}
