:root {
    font-family: Onest, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /*color-scheme: dark;*/
    color: white;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --toastify-color-light: #282828;
    --toastify-color-dark: #282828;

    --text-size: 3rem;
    --yellow-gradient: linear-gradient(rgba(255, 217, 20, 1) 0%, rgba(255, 154, 0, 1) 100%);
    --red-gradient: linear-gradient(180deg, rgba(187, 1, 1, 1) 0%, rgba(140, 2, 2, 1) 100%);
    --default-button: linear-gradient(rgba(142, 78, 1, 1) 0%, rgba(96, 42, 0, 1) 100%);
    --primary-button: var(--red-gradient);
    --default-border-color: rgba(96, 42, 0);
    --primary-border-color: rgba(140, 2, 2);
    --game-controls-zindex: 2;
    /*-webkit-box-shadow: 0px 5px 10px 2px rgba(17, 26, 34, 0.2);*/
    /*-moz-box-shadow: 0px 5px 10px 2px rgba(17, 26, 34, 0.2);*/
    /*box-shadow: 0px 5px 10px 2px rgba(17, 26, 34, 0.2);*/

    /*background: linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%),*/


    /*background: radial-gradient(117.18% 81.58% at -8.46% 3.02%, #47A4FF 0%, #4394E4 11.18%, #1E1E1E 98.82%) !* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected *!;*/


    /*background: linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%),*/
    /*linear-gradient(45deg, #292929 25%, transparent 25%, transparent 75%, #292929 75%) 0.1875em 0.1875em,*/
    /*radial-gradient(at 50% 0, #484847, #090909);*/
    /*background-size: 0.375em 0.375em, 0.375em 0.375em, 100% 100%;*/

    /*background: linear-gradient(45deg,#f5f5f5 25%, transparent 25%, transparent 75%, #f5f5f5 75%),*/
    /*linear-gradient(45deg, #f5f5f5 25%, transparent 25%, transparent 75%, #f5f5f5 75%) 0.1875em 0.1875em,*/
    /*radial-gradient(at 50% 0,#f5f5f5,#e6e6e6);*/
    /*background-size: 0.375em 0.375em, 0.375em 0.375em, 100% 100%;*/
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url("../src/assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    width: 100%;
    height: 53px;
    border-radius: 45px;
    border: 1px solid transparent;
    /*margin: 0.6em 1.2em;*/
    font-size: 1.4em;
    font-weight: 500;
    font-family: inherit;
    letter-spacing: inherit;
    color: #9b9b9b;
    cursor: pointer;
    /*transition: border-color 0.25s;*/
    background-color: #5e5e5e;
}

.popup {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #5693cc;*/
    border-radius: 25px;
    padding: 15px 28px 13px 27px;
}

/* Верхний слой */
/*.popup::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: linear-gradient(rgba(49, 147, 244, 0.48), rgba(49, 147, 244, 0.13)); !* Градиент *!*/
/*    border: 1px solid rgba(2, 40, 78, 0.7); !* Обводка *!*/
/*    !*mix-blend-mode: overlay; !* Наложение Overlay *!*!*/
/*    opacity: 0.31; !* Непрозрачность *!*/
/*    backdrop-filter: blur(2.4px); !* Эффект размытия *!*/
/*    border-radius: 25px; !* Повторить радиус для совпадения слоев *!*/
/*    z-index: 2; !* Верхний слой *!*/
/*}*/

/* Нижний слой */
.popup::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.61), rgba(255, 255, 255, 0.11)); /* Градиент */
    border: 1px solid rgba(2, 40, 78, 0.7); /* Обводка */
    /*mix-blend-mode: overlay; !* Наложение Overlay *!*/
    opacity: 0.21; /* Непрозрачность */
    z-index: 1; /* Нижний слой */
    border-radius: 25px;
}

/*@media (max-width: 320px) {*/
/*    :root {*/
/*        --font-size: 12px; !* размер шрифта для экранов меньше 480px *!*/
/*    }*/
/*}*/
/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    color: #213547;*/
/*    background-color: #ffffff;*/
/*  }*/
/*  a:hover {*/
/*    color: #747bff;*/
/*  }*/
/*  button {*/
/*    background-color: #f9f9f9;*/
/*  }*/
/*}*/
.Toastify__toast-container {
    /*position: absolute;*/
    width: 100%; /* Ширина контейнера */
    height: 85%;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 50%; /* Центрируем контейнер относительно левой границы */
    transform: translateX(-50%); /* Сдвигаем его на половину ширины */
    /*gap: 10px;*/
    /*border-radius: 12px;*/
}

.Toastify__toast {
    /*height: 70px;*/
    display: flex;
    align-items: center;
    background-color: #282828;
    /*position: absolute;*/
    /*width: 95%; !* Ширина контейнера *!*/
    /*top: 20px; !* Отступ сверху *!*/
    /*left: 50%; !* Центрируем контейнер относительно левой границы *!*/
    /*transform: translateX(-50%); !* Сдвигаем его на половину ширины *!*/
    /*background-color: #282828;*/
    border-radius: 12px;
    margin: 60px 10px 0 10px;
}

.Toastify__toast-body {
    color: white;
    font-size: 19px;
    padding: 10px;
}

/*.blink {*/
/*    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(100, 115, 131, 0) 100%);*/
/*    animation: blinker 1s linear 1ms ;*/
/*}*/

/*@keyframes blinker {*/
/*    from{*/
/*        opacity: 1;*/
/*    }*/
/*    to {*/
/*        opacity: 0;*/
/*    }*/
/*}*/

/*.blink{*/
/*    position: relative;*/
/*    font-size: 2.5em;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    display: inline-block;*/
/*    z-index: 1;*/
/*}*/

.blink {
    position: absolute;
    width: 100%;
    height: 27px;

    /*left: 50%;*/
    gap: 0;
    opacity: 0.47;
    rotate: -15deg;
    /*transform: translate(-50%, -50%);*/
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, rgba(100, 115, 131, 0) 100%);
    animation: spread 0.8s ease-out forwards;

}

/*.blink::before {*/
/*    transform: translate(-50%, -50%) scale(0);*/
/*}*/

/*.blink::after {*/
/*    transform: translate(-50%, -50%) scale(0);*/
/*}*/

@keyframes spread {
    0% {
        /*transform: translate(-50%, 50%);*/
        transform: scale(0.5);
        opacity: 1;
    }
    100% {
        /*transform: translate(-50%, 50%);*/
        transform: scale(1);
        opacity: 0;
    }
}
